@use "../../Sass/" as *;

.gpt3__blog {
  display: flex;
  flex-direction: column;

  &-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;

    h1 {
      font-family: $font-family;
      font-weight: 800;
      font-size: 6rem;
      line-height: 7.5rem;
      letter-spacing: -0.3rem;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;

    @include respond(tablet-land) {
      flex-direction: column-reverse;
    }

    &_groupA {
      flex: 0.75;
      margin-right: 2rem;

      @include respond(tablet-land) {
        margin: 2rem 0;
      }
    }
    &_groupB {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      @include respond(phone) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@include respond(phone) {
}
