@use "../../Sass/" as *;

.gtp3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding: 2rem 6rem;

  @include respond(phone) {
    padding: 2rem 4rem;
  }

  p {
    color: #fff;
    font-family: $font-family;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
  }

  &-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
      margin-right: 2rem;

      img {
        width: 6.2rem;
        height: 1.6rem;
      }
    }

    &_container {
      display: flex;
      flex-direction: row;

      @include respond(tablet-port) {
        display: none;
      }
    }

    .gpt3__navbar-sign {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        padding: 0.75rem 1.25rem;
        color: #fff;
        background: #ff4820;
        font-family: $font-family;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        outline: none;
        border: none;
        cursor: pointer;
      }

      @include respond(tablet-port) {
        flex: 1;
        justify-content: space-around;
        align-items: center;
      }

      @include respond(phone) {
        display: none;
      }
    }

    &-menu_container {
      button {
        padding: 0.75rem 1.25rem;
        color: #fff;
        background: #ff4820;
        font-family: $font-family;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        outline: none;
        border: none;
        cursor: pointer;

        @include respond(phone) {
          top: 2rem;
        }
      }
    }
  }

  .gpt3__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;

    svg {
      cursor: pointer;
    }

    &_container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: end;
      background: $color-footer;
      padding: 2rem;
      position: absolute;
      top: 4rem;
      right: 0;

      margin-top: 1rem;
      min-width: 21rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

      p {
        margin: 1rem 0;
      }

      &-links-sign {
        display: none;

        @include respond(phone) {
          display: block;
        }
      }
    }

    @include respond(tablet-port) {
      display: flex;
    }
  }
}
