@use "./Sass/" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  // this defines what 1rem is ( (10px / 16px) * 100%)
  font-size: 62.5%; //1rem = 10px; (10xp / 16px) * 100 = 62.5%

  @include respond(tab-land) {
    // width < 1200px
    font-size: 56.25%; //1rem = 9px; (8px / 16px) * 100% = 56.25%
  }

  @include respond(tab-port) {
    // width < 900px
    font-size: 50%; //1rem = 8px; (8px / 16px) * 100% = 50%
  }

  @include respond(big-desktop) {
    // width > 1800px
    font-size: 75%; //1rem = 12px; (8px / 16px) * 100% = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 0;

  background-color: $color-bg;
  color: $color-text;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

.gradient__text {
  background: $gradient-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;

  @include respond(tablet-port) {
    padding: 4rem;
  }

  @include respond(phone) {
    padding: 4rem 2rem;
  }
}

.section__margin {
  margin: 4rem 6rem;

  @include respond(tablet-port) {
    margin: 4rem;
  }

  @include respond(phone) {
    margin: 4rem 2rem;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
